:root {
  --cor-principal: #3f92c9;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--cor-principal);
}

nav {
  width: 100vw;
  top: 0;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: -1px 1px 20px #0000000a;
}

nav a {
  padding: 10px 6px 10px 6px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: var(--cor-principal);
  transition: 0.25s;
}

nav a:hover {
  font-weight: 600;
  border-bottom: 2px solid #40B3FF;
}

section {
  min-height: 500px;
  padding: 50px;
  text-align: justify;
}

section h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.imagem {
  display: flex;
  justify-content: center;
}

.icone {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 50%;
  filter: drop-shadow(2px 0 0 var(--cor-principal)) drop-shadow(-2px 0 0 var(--cor-principal)) drop-shadow(0 2px 0 var(--cor-principal)) drop-shadow(0 -2px 0 var(--cor-principal));
  transition: 0.8s;
}

.icone:hover{
  background-color: var(--cor-principal);
}

#missao, #servicos, footer {
  background-color: var(--cor-principal);
  color: white;
}

#logo {
  transition: 0.3s;
}

#logo:hover {
  opacity: 0.5;
}

footer {
  padding: 50px;
  text-align: center;
}